<!--
<h1>AdeqoUsers#index</h1>
<p>Find me in app/views/adeqo_users/index.html.erb</p>
-->

<h2>Adeqo Users Index Page</h2>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @adeqo_users.each_with_index do |user, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= user.email %></td>
          <td><%= user.password %></td>
	  <td>
            <%= link_to "Show User", { :controller => "adeqo_users", :action => "show", :id => user.id}, class: "btn btn-sm btn-primary" %>
            <!--<%= link_to "Update User", { :controller => "adeqo_users", :action => "updateuser", :id => user.id}, class: "btn btn-sm btn-info" %>-->
            <%= button_to "Delete User", { :controller => "adeqo_users", :action => "deleteuser", :id => user.id}, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Add More Users", { :controller => "adeqo_users", :action => "new"} %>
