<!--
<h1>AdeqoUsers#new</h1>
<p>Find me in app/views/adeqo_users/new.html.erb</p>
-->
<!DOCTYPE html>
<html lang="en">

  <head>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sign Up Form</title>


    <!-- Custom fonts for this template NOT WORKING -->
<!--
    <link href="https://blackrockdigital.github.io/startbootstrap-landing-page/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
-->
    <link href="https://blackrockdigital.github.io/startbootstrap-landing-page/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


    <!-- Custom styles for this template -->
    <link href="css/landing-page.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Adeqo</a>
      </div>
    </nav>

<% @page_title = "UserAuth | Signup" %>
<div class="Sign_Form">
  <h1>Almost there!</h1>
  <div class = "sign_desc"> Complete the sign up form below to get everything out of your Adeqo experience.</div>
 <p><br /><%= form_for(:adeqo_user, :url => {:controller => 'adeqo_users', :action => 'create'}) do |f| %></p>
    <p>  <%= f.email_field :email, placeholder: "Email", :required => true %> </p>
    <p><br /> <%= f.password_field :password, placeholder: "Password", :required => true %></p>
    <p><br /> <%= f.password_field :password_confirmation, placeholder: "Password Again", :required => true %> </p>
    <p><br /><%= f.submit :Signup %></p>
  <% end %>
  <% if @adeqo_user.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @adeqo_user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
  <%= link_to "Back to Index", welcome_homepage_path %>
</div>



<!--
<h1>Add New User to Adeqo</h1>

<table>
  <%= form_for(@adeqo_user) do |f| %>
  <tr>
    <td><%= f.label :username %></td>
    <td><%= f.email_field :username, placeholder: "Email", :required => true %></td>
  </tr>
  <tr>
    <td><%= f.label :password %></td>
    <td><%= f.text_field :password, placeholder: "Password", :required => true %></td>
  </tr>
  <tr>
    <td><%= f.submit %></td>
  </tr>
  <% end %>
</table>

<%= link_to "Back to Index", adeqo_users_path %>
-->
