<!--
<h1>AdeqoUsers#show</h1>
<p>Find me in app/views/adeqo_users/show.html.erb</p>
-->

<h1>Adeqo User Created Successfully</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= @adeqo_users.email %></td>
          <td><%= @adeqo_users.password %></td>
        </tr>
    </tbody>
  </table>
</div>

<%= link_to "Back to Index", adeqo_users_path %>
