<h2>Your Account Page</h2>

<div class="table-responsive">
  <table class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Channel</th>
          <th scope="col">Email</th>
          <th scope="col">Username</th>
          <!--<th scope="col">Password</th>-->
          <th scope="col">APIToken</th>
          <th scope="col">APISecret</th>
          <th scope="col">KW Action</th>
          <th scope="col">AD Action</th>
	  <!--<th scope="col">Account Action</th>-->
        </tr>
      </thead>
      <tbody>
        <% @users.each_with_index do |user, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= user.channel %></td>
            <td><%= user.email %></td>
            <td><%= user.username %></td>
            <!--<td>*******</td>-->
            <td><%= user.apitoken %></td>
            <td><%= user.apisecret %></td>
            <td><%= button_to "Delete Adeqo URLs", { :controller => "users", :action => "downloadkwdump", :id => user.id}, class: "btn btn-sm btn-warning" %> </td>
               <td><%= button_to "Delete Adeqo URLs", { :controller => "users", :action => "updatead", :id => user.id}, class: "btn btn-sm btn-warning" %> </td>

		<!--<td><%= button_to "Delete Account", { :controller => "users", :action => "deleteaccount", :id => user.id}, class: "btn btn-sm btn-danger", :disabled => true %></td>-->
          </tr>
        <% end %>
      </tbody>
  </table>
</div>

<!--<%= link_to "Add More Accounts", { :controller => "users", :action => "new"}, :class => "btn btn-sm btn-success" %>-->
<!-- <button onclick="window.location.href='/users/new'">Add More Accounts</button> -->
