<html>
<h1>Add Channel Accounts to Adeqo</h1>
<table>

<%= form_for(@user) do |f| %>
<tr>
<td><%= f.label :email %></td>
 <td>   <%= f.text_field :email %></td>
</tr>
<tr>
<td><%= f.label :username %></td>
<Td> <%= f.text_field :username %></td>
</tr>
<tr>
 <td>   <%= f.label :password %></td>
<td>    <%= f.text_field :password %></td>
</tr>

<tr>
<Td>    <%= f.label :apitoken %></td>

<td>    <%= f.text_field :apitoken %></td>
</tr>
<tr>
<Td>    <%= f.label :apisecret %></td>

<td>    <%= f.text_field :apisecret %></td>
</tr>

<tr>
<td> <%= f.label :channel %></td>

<td>    <%= f.select :channel, ['360', 'Sogou']%></td>
</tr>
<tr><td>
<%= f.submit%>
</td>
</tr>
<% end %>

</table>
</html>
