<h1>Adeqo Table</h1>
<table>
    <thead>
        <th>Name</th>
        <th>Email</th>
    </thead>
    <tbody>
<% @users.each do |user| %>
    <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
    </tr>
<% end %>
    </tbody>
</table>
