// Place all the styles related to the AdeqoUsers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.Sign_Form {
	text-align:center;
	margin-top:10vh;
	line-height:70%;
	font-size:14px;
}

.Sign_Form h1 {
	font-size:45px;
}